@{
    ViewBag.Title = "About";
}
<body style="background-image: url('../../Images/background7.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black; color: white; font-family: Papyrus, fantasy;">

    <h2>About This Database</h2>


    <p> Do you love the "How To Train Your Dragon" franchise? You want to learn more about it? Or did you stumble upon this site and thought it interesting? Well welcome to my "How To Train Your Dragon" Database! Where you will learn more about the world that makes the franchise so iconic and beloved by many.</p>
    <p> I am a newish coder in the world of programming. This database is in face my final project. I wanted to do a project about something I cared about. I thought long and hard, and I landed on doing a How To Train Your Dragon Database. This has been a heck of a 3 weeks it took me to make it. My blood, sweat, and tears, but mostly tears have made this site the way it is. There are four categories: Locations, Humans, Dragons, and Partnerships. </p>
    <p> Locations will display all the locations, and within each location you can see lists of the dragons and humans that currently live there, based on the franchise. There may be a lot, there may a none at all. But you can help fill it out or edit it! </p>
    <p> Dragons will display all the dragons. It has the species, classes, and their stats that the vikings have giving them. You can help fill this out as well!</p>
    <p> Humans will be all the human characters. This where you'll see if they have a dragon or if they are evil. Some people flip back and forth between evil and not so bad, so editing can be a pain.</p>
    <p> Partnerships will just be one list of all the human and dragons duos! That table relies on human and dragons to be completed!</p>
    <p> This franchise has been a big part of my life ever since I was younger. As I grown, the movies and shows have done the same. It has been a heck of ride and I want to share with you guys</p>
</body>
