@{
    ViewBag.Title = "About";
}
<body style="background-image: url('../../Images/background7.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black; color: white; font-family: Papyrus, fantasy;">

    <h2>About This Database</h2>


    <p>Do you love the "How To Train Your Dragon" franchise? You want to learn more about it? Or did you stumble upon this site and thought it interesting? Well welcome to my "How To Train Your Dragon" Database! Where you will learn more about the world that makes the franchise so iconic and beloved by many.</p>
</body>
