@{
    ViewBag.Title = "Contact";
}
<body style="background-image: url('../../Images/background7.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-color: black; color: white; font-family: Papyrus, fantasy;">

    <h2>Contact Me.</h2>




    <address ">
        <strong>Email:</strong>   <a style="color:white;"href="smreilly22@gmail.com">smreilly22@gmail.com</a><br />
    </address>
</body>